@use '../source/config/reset.scss';
@use '../source/config/cores.scss';
@use '../source/secoes/header.scss';
@use '../source/config/img.scss';


body {
    background-color: cores.$corPrincipal;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: cores.$corText1;
}




section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
    height: 350px;
    padding: 1px;
}



.product-button {
    display: block;
    background-color: cores.$btnColor1;
    color: cores.$corText1;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;
        &:hover {
    background-color: cores.$btnHover1;
}
}



@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}